<div class="mt-2">
  <div class="card m-3" appBordure="{{ uneStatistique.appreciation }}">
    <div class="card-header font-weight-bold">
      {{ uneStatistique.identifiant }}
    </div>
    <div class="card-body">
      <p>Titre : {{ uneStatistique.titre }}</p>
      <p>Valeur : {{ uneStatistique.valeur }}</p>
      <p>Appreciation : {{ uneStatistique.appreciation }}</p>
    </div>
    <div class="card-footer text-muted">
      <button
        class="btn-danger btn"
        type="button"
        (click)="traiterClicSupprimer()"
      >
        Supprimer
      </button>
    </div>
  </div>
</div>
